@font-face {
  font-family: 'Abel';
  font-style: 'regular';
  font-weight: 300;
  src: local('Abel'),
    url('./static/fonts/Abel-Regular.woff') format('woff');
}

html{
  scroll-behavior: smooth; 
}

body {
  width: 1440px;
  margin: 0 auto;
  font-family: 'Abel';
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:1% 2%;
}

nav {
  display: flex;
}

h1 {
  font-weight: normal;
  font-size: 60px;
  margin: 1%;
}

h2 {
  margin: 6% 0 0;
  font-size: 30px;
  font-weight: normal;
  color: #1C1E20;
}

button {
  height: 60px;
  width: 283px;
  margin: 1%;
  font-size: 26px;
  border: none;
  font-family: 'Abel';
}

input {
  font-family: 'Abel';
  border: none;
  font-size: 26px;
  margin: 0px;
}

footer{
  background-color: #D8D8D8;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6%;
}

hr {
  border: none;
  width: 996px; 
  background-color: #FFFFFF;
  height: 1px;
 }

.button-nav {
  background-color: #D8D8D8;
  width: 164px;
  height: 31px;
  margin: 2%; 
}

.banner-section {
  background-color: #D8D8D8;
}

.banner-content {
  padding: 10%;
}

.banner-text {
  font-size: 36px;
  margin: 1%;
}

.white-button {
  background-color:#FFFFFF
}

.black-button {
  background-color:#000000;
  color: #FFFFFF;
  height: 60px;
  width: 283px;
}

.shortArticle-section {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  padding: 6% 6% 5%;
}
.shortArticle{
  display: flex;
  flex-direction: column;
}

.shortArticle-img {
  width: 380px;
  height: 244px;
}

.shortArticle-text {
  margin: 1% 0 10%;
  font-size: 18px;
  line-height: 30px;
  width: 370px;
  color: #1C1E20
}

.link{
  font-size: 18px;
  color: #787878;
  text-decoration: none;
}

.signUpForUpdates-section{
  background-color: #D8D8D8;
  display: flex;
  justify-content: center;
}
.email-input {
  height: 58px;
  width: 330px;
  padding: 0 40px 0 30px;
  margin-right: -4px;
}

.signUpForUpdates-form {
  margin: 10%;
}

.signUpForUpdates-header {
  margin: 0 auto 5%;
  font-size: 35px;
  letter-spacing: 4.375px;
  text-align: center;
}
.longArticle-section{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 3%;
}

.longArticle {
  width: 35%;
  margin: 9% 5%;

}

.longArticle-text {
  color: #1C1E20;
  font-size: 16px;
  line-height: 30px;
  margin: 1% 0;
}

.longArticle-img {
  width: 588px;
  height: 386px;
  margin: 2% 0;
}

.button-article {
    margin: 3% 0 1%;
}

.button-footer-holder{
  display: flex;
}

.button-footer {
  background-color: #FFFFFF;
  width: 164px;
  height: 31px;
  margin: 3%; 
}

.social-icons {
  width: 25%;
  display: flex;
  justify-content: space-evenly;
  margin: 3.5% 0 0;
}