html{
  scroll-behavior: smooth; 
}

body {
  min-width: 1440px;
  margin: 0 auto;
  font-family: 'Abel', sans-serif;
}

.container {
  max-width: 1260px;
  margin: 0 auto;
}

.title {
  margin: 10px 0 0;
  font-size: 30px;
  font-weight: normal;
  color: #1C1E20;
}

.button {
  height: 60px;
  width: 283px;
  margin: 5px;
  font-size: 26px;
  border: none;
  font-family: 'Abel';
}

.white-button {
  background-color:#FFFFFF
}

.black-button {
  background-color:#000000;
  color: #FFFFFF;
  height: 60px;
  width: 283px;
}

.input {
  font-family: 'Abel';
  border: none;
  font-size: 26px;
  margin: 0px;
}

 .logo {
  display: block;
  width: auto;
  height: 55px;
}

.list {
  margin: 0;
  padding: 0;
}

.item {
  list-style-type: none; 
}

.justify-content-center {
  justify-content: center;
}

.header {
  padding-top: 17px;
  padding-bottom: 17px;
  padding-left: 50px;
  padding-right: 50px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar__list {
  display: flex;
}

.navbar__item {
  background-color: #D8D8D8;
  width: 164px;
  height: 31px;
  margin: 15px; 
}

.hero {
  background-color: #D8D8D8;
}

.hero-content {
  padding: 120px;
}

.hero-title {
  font-weight: normal;
  font-size: 60px;
  margin: 10px
}

.hero-text {
  font-size: 36px;
  margin: 20px;
}

.articles {
  margin: 0 auto;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  padding: 120px 120px 100px;
}

.article {
  display: flex;
  flex-direction: column;
}

.articles-img {
  width: 380px;
  height: 244px;
}

.articles-text {
  margin: 10px 0 50px;
  font-size: 18px;
  line-height: 30px;
  width: 370px;
  color: #1C1E20
}

.link{
  font-size: 18px;
  color: #787878;
  text-decoration: none;
}

.updates{
  background-color: #D8D8D8;
  display: flex;
}

.email-input {
  height: 60px;
  width: 330px;
  padding: 0 40px 0 30px;
  margin-right: -4px;
}

.updates-form {
  margin: 200px;
}

.updates-header {
  margin: 0 auto 40px;
  font-size: 35px;
  letter-spacing: 4.375px;
  text-align: center;
}

.articles-main {
  padding-top: 50px;
  padding-bottom: 80px;
}

.row {
  margin-left: -20px;
  margin-right: -20px;
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
}

.col-half {
  flex: 0 0 50%;
  max-width: 50%;
  padding-left: 30px;
  padding-right: 30px;

  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.order-1 {
  order: 1;
  text-align: right;
}

.order-2 {
  order: 2;
}

.articles-main-text {
  color: #1C1E20;
  font-size: 16px;
  line-height: 30px;
}

.articles-main-img {
  width: 588px;
  height: 386px;
}

.articles-main-button {
  margin-top: 50px;
}

.footer{
  background-color: #D8D8D8;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 50px;
  padding-right: 50px;
}

.site-map{
  box-sizing: border-box;
  padding-left: 100px;
  padding-right: 100px;

  display: flex;
  justify-content: space-between;
  
  border-bottom: 1px solid #fff;
  width: 996px;
}

.site-map__item {
  background-color: #FFFFFF;
  width: 164px;
  height: 31px;
  margin: 30px; 
}

.social {
  width: 450px;
  display: flex;
  justify-content: space-evenly;
  margin-top: 60px;
}

.social__item {
  width: 20px;
  height: auto;
}